<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Socket.IO Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="app">    
      <ul class="pages">
        <li class="login page" v-if="viewUsername">
          <div class="form">
            <h3 class="title">Cual es tu nombre?</h3>
            <input 
              v-model="username" 
              v-on:keyup.13="setUsername" 
              v-focus
              class="usernameInput" type="text" maxlength="14" />
          </div>
        </li>      
        
        <li class="chat page" v-else>
          <div class="chatArea">          
            <ul id="messages" class="messages">
              <template v-for="chat in messages">
                <template v-if="chat.username">
                  <li class="message">
                    <span class="username" 
                      :style="{color: chat.color}">
                      {{ chat.username }}
                    </span>
                    <span
                      :class="[chat.typing ? 'typing' : 'messageBody']">                    
                      {{ chat.message }}
                    </span>
                  </li>                
                </template>
                <template v-else>
                  <li class="log">{{ chat.message }}</li>
                </template>
              </template>            
            </ul>
          </div>
          <!-- v-on:keyup.13="sendMessage" -->
          <input 
            v-model="message"
            v-on:keyup="updateTyping"
            v-focus
            class="inputMessage" placeholder="Escribe aquí..."/>
        </li>
        
      </ul>    
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/vue.js"></script>
  </body>
</html>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      FADE_TIME: 150, // ms
      TYPING_TIMER_LENGTH: 400, // ms
      COLORS: [
        '#e21400', '#91580f', '#f8a700', '#f78b00',
        '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
        '#3b88eb', '#3824aa', '#a700ff', '#d300e7'
      ],
      socket: io(),
      lastTypingTime: '',
      typing: false,
      connected: false,
      viewUsername: true,
      username: '',
      message: '',
      messages: []
    },
    directives: {
      focus: {
        // directive definition
        inserted: function (el) {
          el.focus()
        }
      }
    },
    created () {
      // Socket events
      var self = this

      // Whenever the server emits 'login', log the login message
      this.socket.on('login', (data) => {
        self.connected = true
        // Display the welcome message
        var message = "Bienvenido al chat Socket.IO Chat – Vue"
        self.log(message, {
          prepend: true
        })
        self.addParticipantsMessage(data)
      })

      // Whenever the server emits 'new message', update the chat body
      this.socket.on('new message', (data) => {
        self.addChatMessage(data)
      })

      // Whenever the server emits 'user joined', log it in the chat body
      this.socket.on('user joined', (data) => {
        self.log(data.username + ' se ha unido')
        self.addParticipantsMessage(data)
      })

      // Whenever the server emits 'user left', log it in the chat body
      this.socket.on('user left', (data) => {
        self.log(data.username + ' se ha marchado')
        self.addParticipantsMessage(data)
        self.removeChatTyping(data)
      })

      // Whenever the server emits 'typing', show the typing message
      this.socket.on('typing', (data) => {
        self.addChatTyping(data)
      })

      // Whenever the server emits 'stop typing', kill the typing message
      this.socket.on('stop typing', (data) => {
        self.removeChatTyping(data)
      })

      this.socket.on('disconnect', () => {
        self.log('se ha desconectado')
      })

      this.socket.on('reconnect', () => {
        self.log(self.username + ' ha sido reconectado')
        if (self.username) {
          self.socket.emit('add user', self.username)
        }
      })

      this.socket.on('reconnect_error', () => {
        self.log('Intento de reconexión ha fallado')
      })
      
    },
    methods: {
      addParticipantsMessage (data) {
        let message = ''
        if (data.numUsers === 1) {
          message += "hay 1 participante"
        } else {
          message += "hay " + data.numUsers + " participantes"
        }
        this.log(message)
        this.message = ''
      },

      // Sets the client's username
      setUsername () {        
        // If the username is valid
        if (this.username) {          
          this.viewUsername = false
          // Tell the server your username
          this.socket.emit('add user', this.username)
        }
      },

      // Sends a chat message
      sendMessage () {
        // Prevent markup from being injected into the message        
        // if there is a non-empty message and a socket connection
        if (this.message && this.connected) {          
          this.addChatMessage({
            typing: false,
            username: this.username,
            message: this.message
          })
          // tell server to execute 'new message' and send along one parameter
          this.socket.emit('new message', this.message)
          this.message = ''
        }
      },

      // Log a message
      log (message, options) {
        this.messages.push({
          typing: false,
          message: message
        })
      },
      
      // Adds the visual chat message to the message list
      addChatMessage (data) { 
        console.log(data)       
        this.messages.push({
          typing: data.typing,
          color: this.getUsernameColor(data.username),
          username: data.username,
          message: data.message
        })
        
        objDiv = document.getElementById("messages")
        objDiv.scrollTop = objDiv.scrollHeight
      },

      // Adds the visual chat typing message
      addChatTyping (data) {
        data.color = this.getUsernameColor(data.username),
        data.typing = true
        data.message = 'esta escribiendo...'
        this.addChatMessage(data)
      },

      // Removes the visual chat typing message
      removeChatTyping (data) {
        const newMsg = this.messages.filter(msg => msg.message !== 'esta escribiendo...') 
        this.messages = newMsg
             
      },

      // Updates the typing event
      updateTyping (e) {
        if (e.keyCode === 13) {
          this.sendMessage()
        } else {
          if (this.connected) {
            if (!this.typing) {
              this.typing = true
              this.socket.emit('typing')
            }
            this.lastTypingTime = (new Date()).getTime()

            setTimeout(() => {
              var typingTimer = (new Date()).getTime()
              var timeDiff = typingTimer - this.lastTypingTime
              if (timeDiff >= this.TYPING_TIMER_LENGTH && this.typing) {
                this.socket.emit('stop typing')
                this.typing = false
              }
            }, this.TYPING_TIMER_LENGTH)
          }
        }
      },

      getUsernameColor (username) {
        // Compute hash code
        var hash = 7
        for (var i = 0; i < username.length; i++) {
          hash = username.charCodeAt(i) + (hash << 5) - hash
        }
        // Calculate color
        var index = Math.abs(hash % this.COLORS.length)
        return this.COLORS[index]
      }
    }
  })
</script>